body {
    font-family: Caviar, 宋体, sans-serif;
}
@font-face {
    font-family: Caviar;
    src: url(../../../assets/CaviarDreams.ttf);
}
body {
    background: black;
    color: white;
}
#icon{
    position: fixed;
    top: 3vmin;
    right: 3vmin;
}
#icon.hover {
    background-color: white;
    color: black;
}
#backHome {
    text-align: right;
    font-size: 2.5vmin;
    padding: 0;
    margin: 0;
}
.Page {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    margin : 0;
    padding: 0;
    position: fixed;
}
.description{
    margin-left: 50%;
    margin-top: 12%;
    margin-right: 25%;
}
.tag{
    margin-top: 5%;
}
h1,h2 {
    font-weight: normal;
}
h1 {
    margin-left: 6vw;
    padding-top: 3vh;
    font-size: 6.5vh;
}
h2 {
    padding: 0;
    margin-left: 6.2vw;
    font-family: RomanS, sans-serif;
    font-size: 3vh;
}
h3 {
    font-size: 3.5vmin;
}
p{
    font-size: 1vmax;
}
.at_right {
    text-align: right;
    margin-right: 15.3%;
}
svg {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    padding: 0;
    margin: 0;
}
#cover {
    position: absolute;
    bottom: 5vmin;
    left: 20vmin;
}
button {
    background-color: transparent;
    border: none;
}
#clickToPlay {
    color: #0089A6;
    margin-left: 50%;
    margin-top: 25%;
}
#clickToPlay:hover {
    text-decoration: underline;
    font-weight : bold;
}
.c1{
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: -2;
}
.c2{
    position: absolute;
    margin-left: 40%;
    z-index: -2;
}
nav{
    position: fixed;
    bottom: 0;
    left: 0;
    color: lightgray;
}
#navOverview {
    color: #0089A6;
}
.nav:hover {
    color: #0089A6;
}
.screen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.Page1{
    position: static;
    z-index: 10;
}
.Page2{
    opacity: 0;
}
.Page3{
    opacity: 0;
}
.Page4{
    opacity: 0;
}
.Page5{
    opacity: 0;
}
.Page6{
    opacity: 0;
}
.Page7{
    opacity: 0;
}