* {
    font-family: Caviar, 宋体, sans-serif;
}
@font-face {
    font-family: Caviar;
    src: url(CaviarDreams.ttf);
    unicode-range: U+0025-00FF;
}
@font-face {
    font-family: 宋体;
    src: url(song.ttf);
    unicode-range: U+4E00-9FFF;
}
body {
    background: #FFFFFF;
    color: black;
}
h1 {
    font-size: 6.5vh;
    font-weight: normal;
    line-height: 120%;
}
h4,h5{
    padding: 5px;
    margin: 0;
}
h4{
    font-size: 1.5vw;
}
h5{
    font-size: 1vw;
    font-weight: normal;
}
svg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    padding: 0;
    margin: 0;
}
button {
    background-color: transparent;
    border: none;
    position: absolute;
}
.MainPageButton {
    font-size: 2.2vmax;
}
.SectionButton {
    font-weight: normal;
    font-size: 2.2vmax;
    top: 80vh;
}
.SectionButtonSpan {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.FirstLetterSectionButtonSpan {
    font-size: 3.5vmax;
}
p {
    font-size: 1.5vmax;
    line-height: 130%;
}
.at_right {
    text-align: right;
    margin-right: 15.3%;
}
.Page1_fixed {
    top: 0;
    left: 0;
}
.Page2_fixed {
    top: 99.9vh;
    left: 0;
    height: 75%;
}
#Page3{
    position: absolute;
    top: 130vh;
    left:0;
}
mark {
    background-color: #0089A6;
    color: white;
}
#intro {
    opacity: 0;
}
.backgroundImage{
    position: absolute;
    right: 15.8vw;
    top: 22vmin;
    z-index: -1;
}
.sectionLines{
    top: 75vh;
    left: 0;
}
.MainPageButton:hover, #lenses:hover, .card:hover{
    color : #0089A6;
    font-weight : bold;
}
.card{
    width: 15%;
    color: white;
    background-color: black;
    display: none;
}